body
{
    background-color: black;
}

h1
{
    text-align:center;
    color:white;
}

    
.MainPageTextbox 
{
    background-color:black;
    width: 700px;
    border: 15px black;
    padding: 50px;
    margin: 20px;
    position:absolute;
    left:30%;

}

